.holdings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 80%;
  margin: 0 auto;
}

h3 {
  margin: 0;
  padding: 10px 0;
  text-align: left;
  width: 100%;
}

.bubble-list {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px; 
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  

  .bubble:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
  }
  
  .link-container {
    text-decoration: none;
  }

  .ticker {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    margin-right: 5px;
  }
  
  .quantity {
    font-size: 22px;
    color: #000000;
    margin-left: 4px;
  }

  .dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .date {
    margin-right: 10px;
  }
  
  .fastFButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .fastFButton:hover {
    background-color: #0056b3;
  }

.button-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}


.stock-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.stock-button:hover {
  background-color: #0056b3;
}
