  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-height: 600px;
    margin-top: 30px;
  }
  
  .centered-heading {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 20px;
  }