.stock-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}


.stock-li {
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease;
  width: 80%;
}

.stock-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.stock-button:hover {
  background-color: #0056b3;
}


.positive {
  background-color: #4caf50;
  color: white;
}

.negative {
  background-color: #f44336;
  color: white;
}

.button-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.stock-info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.stock-li:hover {
  transform: translateY(-5px);
}

.fastFButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.fastFButton:hover {
  background-color: #0056b3;
}
